{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/future-gaming.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>My "Auto-Biography"</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Asvin Aravindan
          </div>
          <div class="col-sm-4 text-pad">
            asvina8@outlook.com
          </div>
          <div class="col-sm-4 text-pad">
            Newark, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm a student passionate about computers and video games.</p>
        <p>What I have done so far may be attractive to you. </p>
        <p>I am a work in progress. Ready for whatever whenever.</p>
        <p>Check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        My Life
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Math Tutoring
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2021-Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Ever since the beginning of my sophomore year, I have been tutoring my peers.</p>
              <p>I have found joy in the feeling of teaching my peers effectively.</p>
              <ul>
                <li class="main-li">I have to plan with my peers whenever they need tutoring.</li>
                <li class="sub-li">I created a calendar for whenever I am free to tutor.</li>
                <li class="sub-li">I made this calendar available for my peers.</li>
                <li class="main-li">I created a great learning environment for my peers and also generated volunteer hours.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Baseball
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              2011 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I have been playing baseball since the age of 5.</p>
              <p>I would spend all of my time practicing.</p>
              <ul>
                <li class="main-li">I planned my way into our school's team.</li>
                <li class="sub-li">I took time to improve my abilities.</li>
                <li class="sub-li">I also made sure to talk to with my coach to further improve myself.</li>
                <li class="main-li">I was able to make the team and have fun while doing so.</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Projects
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              This Website
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Feb 2022 - Apr 2022
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I created this website you are currently on.</p>
              <p>Using my skills from previous coding classes and my current one, I created this website. </p>
              <ul>
                <li class="main-li">I planned this out over 10 weeks</li>
                <li class="sub-li">I learned how to create a website.</li>
                <li class="sub-li">I used a template created by my teacher.</li>
                <li class="main-li">It let me create this website.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Sketchpad
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Aug 2019
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I created a sketchpad</p>
              <p>I used Java</p>
              <ul>
                <li class="main-li">I decided to make a sketchpad app that lets you draw anything.</li>
                <li class="sub-li">I first had to come up with the idea.</li>
                <li class="sub-li">Then I researched how to use ActionListeners to track mouse movements.</li>
                <li class="sub-li">I used this knowledge plus my existing knowledge about UIs to create a sketchpad.</li>
                <li class="main-li">It works perfectly and I am very proud of how it came out.</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Project 3 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Hangman
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              Sept 2018
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I created a Hangman Project</p>
              <p>Here are some action steps I took</p>
              <ul>
                <li class="main-li">I was assigned this project by my computer science club.</li>
                <li class="sub-li">First, I had to create a database of words that can be used for this hangman project.</li>
                <li class="sub-li">Then, I had to take user input in order to check if their answer is partially correct or entirely correct.</li>
                <li class="main-li">It was a fun project that had gotten me used to coding. It helped me develop my understanding of Java and how to use it effectively.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              Baseball MVP
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              I was the MVP of a season in 2018.
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Outstanding Student Awards
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Over my high-school years, I have won a couple of certifications because of my dedication and contributions.
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Tutoring
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              I have tutored children and my peers free of charge. I am very proud of this achievement. 
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/sfgiants.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Baseball</h3>
            <p class="content-text">I love playing and watching baseball. My favorite team is the San Francisco Giants.</p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/sfgiants.png">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/india.png">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">India</h3>
            <p class="content-text">India is like a second home to me.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/ps5.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Video Games</h3>
            <p class="content-text">Video games have been very important in shaping my personality and keeping me entertained.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">asvina8@outlook.com</span>
        </div>
        <div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/asvintheasprin/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@asvintheasprin</span>
          </a>
        </div>
        <div>
          <a href="https://github.com/asvina8">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/asvina8</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
